# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Vite
dist/

# Env
.env
.env.*

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Docker
*.log
Monopoly_RL/venv/
Monopoly_RL/monopoly_drl/__pycache__/__init__.cpython-312.pyc
