.game-log-container {
  width: 450px;
  height: 70vh;
  background: #111;
  border-left: 2px solid #222;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", sans-serif;
  border-radius : 12px ;
  margin : 20px;
}

.game-log-title {
  padding: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  background: #181818;
  border-bottom: 1px solid #222;
  color: #f5f5f5;
}

.game-log-content {
  flex: 1;
  overflow-y: auto;
  padding: 12px;
}

.log-entry {
  padding: 8px 10px;
  margin-bottom: 6px;
  background: #1c1c1c;
  border-radius: 6px;
  font-size: 13px;
  color: #ddd;
  transition: background 0.2s ease;
}

.log-entry:hover {
  background: #252525;
}

.game-log-content::-webkit-scrollbar {
  width: 6px;
}

.game-log-content::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

